API_TOKEN=your-telegram-bot-token
ADMIN_ID=11111111
PASSWORD_ADMIN=Admin

OPENAI_API_KEY_PAID=sk-xxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY_FREE=sk-xxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_BASE_PAID=https://api.openai.com/v1/
OPENAI_API_BASE_FREE=https://neuroapi.host/v1/

FREEKASSA_SECRET1=your-freekassa-secret1
FREEKASSA_SECRET2=your-freekassa-secret2
FREEKASSA_MERCHANT_ID=11111111
FREEKASSA_IP_SERVER=111.111.111.111

ROBOKASSA_LOGIN=uai_robot
ROBOKASSA_PASS_TEST1=your-robokassa-pass1
ROBOKASSA_PASS_TEST2=your-robokassa-pass2

YOOKASSA_ACCOUNT_ID=11111
YOOKASSA_SECRET_KEY=live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_NAME=db

URL_SUPPORT=https://t.me/
URL_BOT=https://t.me/
URL_CHANNEL=https://t.me/

MESSAGES_DIR=users
