venv/
.env
__pycache__/
*.pyc
.idea/
.vscode/
users/
*.log
*.db
*.key
*.crt
*.pem
*.zip
*.tar.gz
*.rar

# Old data dumps
db_uai.sql
db_uai1.json

# Binaries
ffmpeg/
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.def
